.page {
  font-family: Georgia, Times, "Times New Roman", serif, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.text,
.password {
  height: 25px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.submit {
  margin-top: 10px;
  cursor: pointer;
  font-size: 15px;
  background: #4701d2;
  border: 1px solid white;
  color: #fff;
  padding: 10px 20px;
}

.submit:hover {
  background: #c46cf0;
}

.button {
  display: flex;
  justify-content: center;
}

.form {
  background-color: white;
  padding: 3rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.listContainer {
  display: flex;
}

.title {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
